.fade-transform-leave-active,
 .fade-transform-enter-active {
   transition: all .3s;
 }
.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}
.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}




.big-animation:hover{
  transform: scale(1.03,1.03);
  transition: all .3s;
}


.el-button:focus, .el-button:hover {
  color:inherit;
}
.el-scrollbar__wrap {
  overflow-x: hidden;
}
.el-slider__button {
  width: 6px;
  height: 6px;
  border: 6px solid white;
  background-color: #c20c0c;
  margin-bottom: 3px;
  border-radius: 50%;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 0 0 0.3px #00000094;
  -webkit-box-shadow:0 0 0 0.3px #00000094;
  -o-box-shadow:0 0 0 0.3px #00000094;
  -mos-box-shadow:0 0 0 0.3px #00000094;
  -ms-box-shadow:0 0 0 0.3px #00000094;
}

.el-slider__bar {
  height: 2.5px;
  background-color: #c20c0c;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  position: absolute;
}

.el-slider__runway {
  width: 100%;
  height: 2.5px;
  margin: 10px 0 16px;
  background-color: #e4e7ed;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
}

.el-card {
  border:none;
  background-color: #fff;
  color: #303133;
  -webkit-transition: .3s;
  transition: .3s;
}

.el-card.is-always-shadow, .el-card.is-hover-shadow:focus, .el-card.is-hover-shadow:hover {
   -webkit-box-shadow:none;
   box-shadow: none;
}

/*加载 图标样式*/
.el-loading-spinner .path {
  -webkit-animation: loading-dash 1.5s ease-in-out infinite;
  animation: loading-dash 1.5s ease-in-out infinite;
  stroke-dasharray: 90, 150;
  stroke-dashoffset: 0;
  stroke-width: 2;
  stroke: #ff291c;
  stroke-linecap: round;
}

.el-loading-spinner .el-loading-text {
  color: #ff4040;
  margin: 3px 0;
  font-size: 14px;
}

.el-menu--horizontal > .el-menu-item.is-active {
  border-bottom: 2px solid #c20c0c;
  color: #c20c0c;
}

.el-menu--horizontal > .el-menu-item.is-active {
  border-bottom: 2px solid #c20c0c;
  color: #c20c0c;
}

.el-menu--horizontal .el-menu-item:not(.is-disabled):focus, .el-menu--horizontal .el-menu-item:not(.is-disabled):hover {
  outline: 0;
  color: #c20c0c;
}
